body{
    background-color: #5d8af4d8;
    overflow: hidden;
}


.content_container{
    position: absolute;
    left: 20%;
    width:60%;
    height: 50%;
    padding: 10px;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
}

#left_arrow{
    position: absolute;
    color: WHITE;
    text-shadow: 1px 1px 1px #ccc;
    top: 50%;
    left:3%;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
    cursor: pointer;
}

#right_arrow{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px #ccc;
    top: 50%;
    right:3%;
}


#footer_container{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    margin: auto;
    margin-top: 10vh;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: left;

}



img{
    border-radius: 50%;
    border: 2px solid aliceblue;
}

#body-text{
    line-height: 1.6em;
}

#section_text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: large;
}

#progress_bar{
    width: 82%;
    margin: auto;
    margin-left: 9vh;
    margin-top: -10px;

}

/* changes amount of filled bar */
#bar {
    width: 33.3333%;
    height: 3px;
    background-color: whitesmoke ;
    transition: width 1s ease;
    border-radius: 20px;
    margin-top: 0px;

}

#img_container{
    margin: auto;
}

#background_info_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text_container{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    width: auto;
    padding-left: 2%;
}

li{
    margin-bottom: 3px;
}

a{
    color: aliceblue;
}



#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Pop-up container */
#popup {
    background-color: #1e1e1e;
    color: #ffffff;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Close button */
#closePopup {
    background-color: #00BFFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#closePopup:hover {
    background-color: #008FCC;
}
